.trailer-banner{
    height: 100vh;
    width: 100%;
}

.trailer-banner > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    mask-image:linear-gradient(to top, transparent 10%, black);
}

.trailer-banner > .title-card{
    width: 50vw;
    color: white;
    position: absolute;
    top: 28%;
    left: 2%;
}

.title-card > h2{
    font-size: 3rem;
}