.block{
    overflow: hidden;
    position: relative;
    top: -90px;
}

.block > h3 {
    margin: 10px;
    color: white;
}

.row-main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row{
    width: max-content;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.card{
    width: 22vw;
    height: 12vw;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5s ease-in-out;
    margin: 5px;
    position: relative;
    background-color: wheat;
    cursor: pointer;
}

.card > img{
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.navigation-buttons{
    background: rgba(20,20,20,.7);
    position: absolute;
    width: 30px;
    height: 12vw;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.navigation-buttons :hover{
    font-size: 30px;
}

.left{
    left: 0;
}

.right{
    right: 0;
}