body{
  background-color: #141414;
  user-select: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
  z-index: 14;
}

.black{
  background-color: #141414;
}

.navbar > *{
  cursor: pointer;
}

.home-ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}

.home-ul > li{
  display: inline-block;
  padding: 0 10px;
  color: #fff;
}

.home-ul > li > a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.profile{
  display: flex;
  align-items: center;
}

.profile > img{
  border-radius: 5px;
}